{% extends "base.twig" %}

{% block header %}
  <img class="c-header__image" src="{{ header.hero_image.url }}" alt="{{ header.hero_image.alt }}">
  <div class="c-header__container">
    <h1 class="c-header__title c-header__title--bordered">
      <span class="c-header__intro-start">{{ header.intro_start_text }}</span>
      <span class="c-header__intro-end">{{ header.intro_end_text }}</span>
    </h1>
    <h2 class="c-header__subtitle is-animated fadeInDown">
      <a class="c-header__button" href=#about>
        <i class="c-header__icon material-icons">keyboard_arrow_down</i>
      </a>
    </h2>
  </div>
{% endblock %}

{% block content %}
  <section id="about" class="c-section">
    <h3 class="c-section__title">{{ post.title }}</h3>
    <article class="c-section__content h-flow-text">
      <img class="c-section__image" src="{{ post.thumbnail.src }}" alt="Logo for {{ post.title }}">
      {{ post.content }}
    </article>
  </section>
  {%  include 'partials/portfolio/portfolio-archive.twig' %}
{% endblock %}