{% extends "base.twig" %}

{% block content %}
  <section class="c-portfolio">
    <div class="c-portfolio__image-container">
      <img class="c-portfolio__image" src="{{ options.image_preview.url }}">
    </div>
    <div class="c-portfolio__info">
      <div class="has-tooltip">
        <i class="material-icons is-success">{{ options.project_complete }}</i>
        <span class="has-tooltip__text has-tooltip__text--status">{{ options.project_status }}</span>
      </div>
      <h3 class="c-portfolio__title">Project Details</h3>
      <article class="c-portfolio__content h-flow-text">
        {{ post.content }}
      </article>

      <div class="c-technology">
        <h4 class="c-technology__title">Technologies</h4>
        {% for stack in tech %}
          {% if stack == "angular" %}
            <div class="has-tooltip">
              <img class="c-technology__image" src="{{ theme.link }}/public/images/angular.png">
              <span class="has-tooltip__text">Angular</span>
            </div>
          {% endif %}

          {% if stack == "laravel" %}
            <div class="has-tooltip">
              <img class="c-technology__image" src="{{ theme.link }}/public/images/laravel.png">
              <span class="has-tooltip__text">Laravel</span>
            </div>
          {% endif %}

          {% if stack == "ionic" %}
            <div class="has-tooltip">
              <img class="c-technology__image" src="{{ theme.link }}/public/images/ionic.png">
              <span class="has-tooltip__text">Ionic</span>
            </div>
          {% endif %}

          {% if stack == "firebase" %}
            <div class="has-tooltip">
              <img class="c-technology__image" src="{{ theme.link }}/public/images/firebase.png">
              <span class="has-tooltip__text">FireBase</span>
            </div>
          {% endif %}

          {% if stack == "alexa" %}
            <div class="has-tooltip">
              <img class="c-technology__image" src="{{ theme.link }}/public/images/alexa.png">
              <span class="has-tooltip__text">Amazon Alexa</span>
            </div>
          {% endif %}

          {% if stack == "assistant" %}
            <div class="has-tooltip">
              <img class="c-technology__image" src="{{ theme.link }}/public/images/assistant.png">
              <span class="has-tooltip__text">Google Assistant</span>
            </div>
          {% endif %}

          {% if stack == "wordpress" %}
            <div class="has-tooltip">
              <img class="c-technology__image" src="{{ theme.link }}/public/images/wordpress.png">
              <span class="has-tooltip__text">WordPress</span>
            </div>
          {% endif %}

        {% endfor %}
      </div>
    </div>
  </section>
{% endblock %}